.sans-serif {
     font-family: sans-serif;
}
#ingredientes{
    background-color: rgba(0, 128, 0, 0.39);
    font-family: sans-serif;
    font-size: 24px;
}

#modo-de-preparo {
    background-color: rgba(68, 165, 245, 0.486);

    h2{
        font-size: 48px;
        color: red;
        font-family: 'Times new roman';
    }
    font-family: sans-serif;
}
